*{
	font-family: "Microsoft JhengHei";
}
h1,h2{
	margin: 0;
}
.navbar{
  	padding: 0px 20px;
	box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.navbar .wrapper{
	max-width: 1080px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar__name{
	color: #489846;
	font-size: 36px;
	font-family: "Questrial";
}
.navbar__list{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0px;
	text-align: center;
}
.navbar__list li{
	margin-left: 12px;
}
.navbar__list li a{
	display: block;
	text-decoration: none;
	color: #010101;
	font-size: 18px;
	padding: 10px 20px;
	transition: 0.2s;
	line-height: 1.2;
}
.navbar__list .active a,.navbar__list a:hover{
	border-radius: 8px;
	background-color: #ff7286;
	color: #fefefe;

}
.wrapper{
	max-width: 1080px;
	margin: 0px auto;
	padding: 0px 12px;
}
.banner{
	position: relative;
	height: 450px;
	background: url(./img/2.jpg) center/cover no-repeat ;
}
.banner:after{
	content: "";
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.banner h1{
	margin: 0px;
	color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) ;
	font-size: 60px;
	font-weight: bold;
	z-index: 1;
}
.intro{
	text-align: center;
	margin-top: 80px;
}
.intro__title{
	font-size: 36px;
  	font-weight: bold;
  	position: relative;
  	border-left: solid 15px #a3dea2;
  	display: inline-block;
  	padding-left: 17px;
  	margin-bottom: 20px;
}
.intro__desc{
	font-size: 16px;
	line-height: 2em;
}
.buttons{
	padding-top: 60px;
}
.button{
	padding: 60px 80px;
	font-size: 36px;
	color: #3e613d;
	display: inline-block;
	border-radius: 10px;
	margin: 10px 23px;
	cursor: pointer;
	transition: 0.1s;
}
.button:hover{
	transform: scale(1.1)
}
.btn-order{
	background-color: #a8e8e1;
}
.btn-query{
	background-color: #f9f9b5;
}
.intro__img{
	display: flex;
}
.intro__img img{
	width: 25%;
}
.intro__comment{
	display: flex;
	margin-top: 60px;
}
.intro__user{
	width: 33.3%;
	padding: 60px 20px 10px 20px;
	border-radius: 5px
	box-shadow: -1.4px -1.4px 4px 0 var(--light-blue-grey);
	border: solid 1px #c7e5ec;
	position: relative;
	margin-left: 10px;
}
.intro__user .intro__username{
	margin: 5px 0px 20px 0px;
}
.intro__user .intro__userimg{
	position: absolute;
	top: -20%;
	left: 50%;
	transform: translateX(-50%);
	border: solid 1px #c1c1c1;
	border-radius: 50%;
	line-height: 0;
}
.footer__top{
	 margin: 43px 0 0;
	 background-color: #e8efee;
	 padding: 50px 0px;
}
.footer__top .wrapper{
	display: flex;
	justify-content: space-between;
}
.footer__top .footer_site{
	text-align: right;
	margin-left: 16px;
}
.footer__top .footer_sitetitle{
	 font-size: 36px;
	 color: #489846;
}
.footer__top .footer__desc{
	font-size: 14px;
	color: #484848;
	line-height: 2em;
}
.footer__bottom{
	 background-color: #35564b;
	 font-size: 16px;
	 color: white;
	 text-align: center;
	 padding: 15px 5px;
	 line-height: 1.5em;
}
@media screen and (max-width:768px) {
	.navbar{
		padding: 10px 0px 0px 0px;
	}
	.navbar .wrapper{
		flex-direction: column;
		justify-content: space-between;
		height: 108px;
		padding: 0px;
	}
	.navbar__list{
		margin: 0px;
	}	
	.navbar__list li{
		margin: 0px;
	}
	.navbar__list li a{
		padding: 5px 20px;
	}
	.navbar__list .active a,.navbar__list a:hover{
		border-radius: 0px;
	}
	.banner{
		height: 200px;
	}
	.banner h1{
		font-size: 35px;
	}
	.intro__img{
		flex-direction: column;
	}
	.intro__img img{
		width: 100%;
	}
	.intro__comment{
		flex-direction: column;
	}
	.intro__user{
		width: 100%;
		padding: 60px 10px 10px 10px;
		margin: 0px 0px 70px 0px;
		box-sizing: border-box;
	}
	.footer__top {
		padding: 25px 0px; 
	}
	.footer__top .wrapper{
		flex-direction: column-reverse;
	}
	.footer__top .footer_site{
		text-align: left;
		margin: 10px 0px;
	}
}



.faq{
	counter-reset:num;
	text-align: left;
	line-height: 2em;
	letter-spacing: 1.2px;
	max-width: 768px;
	margin: 0 auto;
}
.faq__item{
	font-size: 18px;
	border-bottom: solid 1px #70b282;
	padding: 25px 10px 0px 70px;
	cursor: pointer;
	position: relative;
	transition: 0.1s;
	overflow: hidden;
}
.faq__item:before{
	counter-increment:num; 
	content: 'Q'counter(num)':';
	color: #70b282;
	margin-right: 16px;
	font-size: 24px;
	position: absolute;
	left: 10px;
	line-height: 1em;
}
.faq__answer{
	margin-top: 20px;
	font-size: 16px;
	max-height: 500px;
  	transition: max-height .5s;
}
.faq__hide-answer .faq__answer{
	max-height: 0;
}
